
div{
    width: 60%;
    padding: 0.5rem 1.25rem;
}

.user-container{
    margin-left: auto
}

.bot-contaienr{
    margin-right: auto
}


.user{
    background-color: #673ab7;
    text-align: right;
    color: 	#FAF9F6;
}

.bot{
    background-color: #D3D3D3;
    text-align: left;
}

mat-card-content{
    overflow-wrap: break-word;
}
