.message-container{
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-box{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #FAF9F6;
    overflow-y: scroll;
}


app-input-field{
    margin-top: auto;
    padding-top: 2rem;
    width: 60%;
}