<div class="w-full h-full max-h-full flex flex-col justify-center items-center pt-2">
    <div *ngIf="isFileProvided">
        <div
            #chatbox
            class="flex flex-col-reverse bg-accent h-[75vh] max-h-[75vh] overflow-auto w-7/12 rounded-md"
            >
                <div>
                    <!--Show only message from assistant or user-->
                    @for (message of messages | visibleMessages; track $index) {
                        <app-message-card [message]="message"></app-message-card>
                    }
                    <app-message-loader *ngIf="isLoading"></app-message-loader>
                </div>
        </div> 
        <app-input-field [isDisabled]="isLoading" (userInputEvent)="sendNewMessage($event)" class="w-7/12"/>
    </div>
    <app-input-file-upload *ngIf="!isFileProvided"></app-input-file-upload>

</div>



