    <div class="flex flex-row gap-3 py-3 w-full">
    <input
        #messageInput
        autofocus
        type="text"
        [placeholder]="_isDisabled ? 'Bitte warten Sie auf meine Nachricht...': 'Eine Nachricht schicken. Drücken Sie zum Senden die Eingabetaste.'"
        [(ngModel)]="userInput"
        (keyup.enter)="sendNewPrompt()" 
        class="input input-bordered input-md w-5/6 bg-base-300"
    />
    <button 
        [disabled]="_isDisabled ? 'disabled' : false" 
        class="w-1/12 btn btn-accent btn-md ml-auto" 
        (click)="sendNewPrompt()">
            Schicken
    </button>
    <div
        class="w-1/12"
    >
    </div>
    
</div>




